<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisSetting" type="Th.Cache.RedisSettingSection,Th.Cache"/>
  </configSections>

  <RedisSetting>
    <RedisConnections>
      <ConnStr DbNumber="1" DbAlias="User" ConnectionStr="10.0.0.21:6379"></ConnStr>
      <ConnStr DbNumber="2" DbAlias="Order" ConnectionStr="10.0.0.21:6379"></ConnStr>
    </RedisConnections>
  </RedisSetting>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>